body {
	font-family: sans-serif;
	background-color: #81d4fa;
	font-weight: bold;
}

.text-box {
	display: flex;
	flex-direction: column; /* Променено на column за вертикален ред на бутоните */
	align-items: center; /* Центриране на бутоните по хоризонтала */
	margin-top: 20px;
}

.btn {
	padding: 10px 20px;
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	background-color: #3498db;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

	.btn:hover {
		background-color: #2980b9;
	}

@media only screen and (max-width: 600px) {
	.btn:link,
	.btn:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 25px 55px;
		display: inline-block;
		border-radius: 100px;
		transition: all 0.2s;
		position: absolute;
	}
}
